* {
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 40, 87);
  color: #FFF;
  margin: 0;
}
.lists {
  margin-top: -205px;
}
footer {
  margin: 50px 0;
  text-align: center;
  padding: 20px;
    background-color: rgb(218, 131, 19);
  }
  .loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

